
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
 
    <section class="ftco-section bg-light ftco-faqs" style="padding: 3rem 0">
        <div class="container card-body table-responsive">
            <!-- 404 Error Text -->
            <div class="text-center">
                <p class="lead text-gray-800 mb-5">Đổi mật khẩu</p>
                <p>Vui lòng nhập mật khẩu mới</p>
                <form asp-action="ChangePassword" method="post">
                    <div class="center" style="padding: 15px;">
                        <input type="password" class="form-control" name="pass1" style="max-width:400px; margin: auto;" placeholder="Nhập mật khẩu mới" required>
                        <input type="password" class="form-control" name="pass2" style="max-width:400px; margin: auto;" placeholder="Nhập lại mật khẩu" required>
                        <p style="color:red">@ViewBag.Result</p>
                        <button type="submit" style="margin-top: 10px" class="btn btn-primary mb-2">Xác thực </button>
                    </div>
                </form>
            </div>
      
        </div>
        <div>
            <a asp-action="Index" asp-controller="Home">&larr; Quay lại trang chủ</a>
        </div>
    </section>
    
