
@{
    ViewData["Title"] = "Successfully for this register";
}

<section class="ftco-section bg-light ftco-faqs" style="padding: 3rem 0">
    <div class="container card-body table-responsive">
        <div class="text-center">
            <div class="error mx-auto" data-text="">Thông báo</div>
            <p class="lead text-gray-800 mb-5">Tạo tài khoản thành công</p>
            <p class="text-gray-500 mb-0">Chào mừng người dùng @ViewBag.email đến với PETSHOP</p>
            <a asp-action="Index" asp-controller="Home">&larr; Quay lại trang chủ</a>
        </div>
    </div>
</section>
