<section class="ftco-section bg-light ftco-faqs" style="padding: 3rem 0">
    <div class="container card-body table-responsive">
        <!-- 404 Error Text -->
        <div class="text-center">
            <div class="error mx-auto" data-text="404">Thông báo</div>
            <p class="lead text-gray-800 mb-5">Cập nhật mật khẩu mới</p>
            <p class="text text-danger" id="info">

            </p>
            <form asp-action="ChangePassword" method="post">
                <div class="center" style="padding: 15px;">
                    <input type="password" class="form-control" name="password" style="max-width:400px; margin: auto;" placeholder="Nhập mật khẩu mới" required>
                    <input type="password" class="form-control" name="password-confirm" style="max-width:400px; margin: auto; margin-top: 10px" placeholder="Nhập lại mật khẩu" required>
                    <button type="submit" style="margin-top: 10px" id="save" class="btn btn-primary mb-2">Lưu</button>
                </div>
            </form>

            <div>
                <a asp-action="Index" asp-controller="Profile">&larr; Quay lại trang thông tin</a>
            </div>

        </div>
    </div>
</section>

<div class="toast" id="myToast" role="alert" aria-live="assertive" aria-atomic="true" style="position:fixed; top: 20px; right: 10px; width: 400px; height: 100px; background-color: #20c997; z-index: 999999">
    <div class="toast-header">
        <strong class="mr-auto">Thông báo</strong>
        <small class="text-muted">0 giây trước</small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body" style="background-color: white">
        Đổi mật khẩu thành công
    </div>
</div>


<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript">
    $(function () {
        $("input[type=password][name=password-confirm]").keyup(function () {
            var password_confirm = $(this).val();
            var password = $("input[type=password][name=password]").val();
            if (password !== password_confirm) {

                document.getElementById("save").disabled = true;

                $("#info").html("");
                $("#info").html("Mật khẩu xác nhận không trùng");
            }
            else {
                $("#info").html("");
                document.getElementById("save").disabled = false;
            }
        });

        //$("#save").click(function () {

        //    var newPassword = $("input[type=password][name=password]").val();

        //    $.ajax({
        //        url: "/Auth/ChangePassword",
        //        type: "POST",
        //        data: { newPassword },
        //        dataType: "text",
        //        success: function (data) {
        //            $('.toast').toast({
        //                delay: 5000
        //            });
        //            $("#myToast").toast('show');
        //        },
        //        error: function (err) {
        //            alert("What's wrong!");
        //            console.log(err);
        //        }
        //    });
        //});
    });
</script>