<section class="ftco-section bg-light ftco-faqs" style="padding: 3rem 0">
    <div class="container card-body table-responsive">
        <!-- 404 Error Text -->
        <div class="text-center">
            <div class="error mx-auto" data-text="404">Thông báo</div>
            <p class="lead text-gray-800 mb-5">Khôi phuc mật khẩu</p>
            <p class="text-gray-500 mb-0" id="info"></p>
            @if (ViewBag.error != null)
            {
                <span class="text text-danger">@ViewBag.error</span>
            }

            <div class="center" style="padding: 15px;">
                <input type="email" class="form-control" name="email" value="" style="width:400px; margin: auto;" />
                <button class="btn btn-primary" style="margin-top: 10px" id="generateCode">Lấy mã xác minh</button>
            </div>

            <form asp-action="ForgetPassword" method="post">
                <div class="center" style="padding: 15px;">
                    <input type="text" class="form-control" name="codeVerify" style="max-width:400px; margin: auto;" placeholder="Mã xác minh (6 ký tự)" required>
                    <button type="submit" style="margin-top: 10px" class="btn btn-primary mb-2">Xác thực </button>
                </div>
            </form>

            <div>
                <a asp-action="Index" asp-controller="Home">&larr; Quay lại trang thông tin</a>
            </div>

        </div>
    </div>
</section>

<script src="~/js/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {

        $("#generateCode").click(function () {
            var email = $("input[name=email]").val();
            if (email !== "") {
                $("#info").html('<div class="spinner-border text-success"></div>');
                $.ajax({
                    url: "/Auth/GenerateVerifyCode",
                    type: "GET",
                    data: { email },
                    dataType: "text",
                    success: function (data) {
                        $("#info").html("");
                        $("#info").html("Đã gửi mã xác minh để khôi phục tài khoản đến email của bạn");
                    },
                    error: function (err) {
                        alert("What's wrong!");
                        console.log(err);
                    }
                });
            } else {
                $("#info").html("");
                $("#info").html("Vui lòng nhập email");
            }
            
        });

        $("input[type=email][name=email]").keyup(function () {
            var email = $(this).val();
            $.ajax({
                url: "/Auth/CheckEmailExist",
                type: "GET",
                data: { email },
                dataType: "text",
                success: function (data) {
                    $("#info").html("");
                    document.getElementById("generateCode").disabled = false;
                },
                error: function (err) {
                    $("#info").html("");
                    $("#info").html("Email không tồn tại");
                    document.getElementById("generateCode").disabled = true;
                }
            });
        });
    });
</script>
