@model PETSHOP.Models.Account
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/login.cshtml";
}

<div class="col-lg-5 col-md-7">
    <div class="card bg-secondary border-0 mb-0">
        <div class="card-body px-lg-5 py-lg-5">
            <form action="/Admin/Login" method="post">
                <div class="form-group mb-3">
                    <div class="input-group input-group-merge input-group-alternative">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                        </div>
                        <input class="form-control" asp-for="Username" placeholder="Username" name="username" type="email">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-merge input-group-alternative">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                        </div>
                        <input class="form-control" asp-for="Password" placeholder="Password" name="password" type="password">
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" id="submit" class="btn btn-primary my-4">Đăng nhập</button>
                </div>
            </form>
        </div>
    </div>
</div>

@*<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script>
    $(function () {
        $('#submit').click(function () {
            console.log("đã vào");
            var Username = $("#username").val();
            var Password = $("#password").val();
            var login = {
                "Username": Username,
                "Password": Password
            }
            $.ajax({
                url: "/Admin/Login",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                data: { "login": login },
                async: true,
                success: function (res) {
                    console.log(res);
                    $("#contentDriver").html("");
                    $("#contentDriver").html(res);
                }
            });
        });
    });
</script>*@


