#container {
    width: 410px;
}

/* JQuery UI customisation */
#tabs {
    padding: 0px;
    background: none;
    border-width: 0px;
}

#tabs .ui-tabs-nav {
    padding-left: 0px;
    background: transparent;
    border-width: 0px 0px 1px 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

#tabs .ui-tabs-panel {
    border: solid #d3d3d3;
    border-width: 0px 1px 1px 1px;
}

#memoIcon {
    width: 20px;
    height: 20px;
}

#node-tags .tagit-choice {
    border: 1px solid #b16116;
}

#tabs li {
    border: 1px solid #d3d3d3;
}

/* ddslick customisation */
.dd-select {
    background: transparent;
}

.dd-option-image,
.dd-selected-image {
    width: 40px;
    height: 40px;
}

.ui-autocomplete {
    max-height: 380px;
    overflow-x: hidden;
    overflow-y: auto;
}

.tabs-textbox {
    width: 330px;
}

.hyperlink-underline {
    text-decoration: underline;
}

.radio-source-icon {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

#capture-help {
    float: right;
}

#grid-table td {
    vertical-align: bottom;
}

#grid-table {
    width: 100%;
}

#but-column {
    text-align: right;
}

input[type="radio"].toggle:checked+label {
    cursor: default;
    font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif;
    border-color: #b16116;
    border-width: 2px;
    padding-left: 2px;
    padding-right: 2px;
}


input[type="radio"].toggle+label {
    width: 11em;
    color: #1c94c4;
    font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif;
    padding-left: 2px;
    padding-right: 2px;
}

input[type="radio"].toggle:checked+label.btn:hover {
    background-color: inherit;
    background-position: 0 0;
    transition: none;
}

input[type="radio"].toggle:disabled+label.btn:hover {
    background-color: #d3d3d3;
    background-position: 0 0;
    transition: none;
    cursor: not-allowed;
    color: #d3d3d3;
}

input[type="radio"].toggle:disabled+label {
    background-color: #d3d3d3;
    background-position: 0 0;
    transition: none;
    cursor: not-allowed;
    color: #d3d3d3;
}

.source-radio-btn {
    font-size: 8pt;
    background-color: #d9d9d9;
    border: dashed;
    border-color: #d9d9d9;
    width: 120px;
}

.radio-source-type input {
    border-style: none;
    -webkit-appearance: none;
    padding-bottom: 20px;
}

div.ui-dialog {
    top: 5%;
    left: 5%;
}

.fieldset-border {
    border-color: brown;
    border-style: dashed;
}

.input-textbox {
    margin-left: 20px;
}