@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section breadcumb {
    <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xl-center font-weight-bold text-primary text-uppercase mb-1">Nhập xuất hàng</div>
                </div>
            </div>
        </div>
    </div>
}

<div class="row m-md-1">
    <div class="card shadow mb-4 col-md-6">
        <div class="card-header py-3">
            <div class="d-flex row">
                <div class="justify-content-end">
                    <h6>Tra cứu dữ liệu nhập hàng</h6>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div>
                <input class="form-control" type="text" name="textSearch" placeholder="Tìm kiếm sản phẩm(mã sản phẩm, tên, ...)" />
            </div>
            <hr />
            <span>Kết quả tìm kiếm:</span>
            <div class="card-body" id="result">
                
            </div>
        </div>
    </div>

    <div class="card shadow mb-4 col-md-6">
        <div class="card-header py-3">
            <div class="d-flex row">
                <div class="justify-content-end">
                    <a asp-action="Create" asp-area="Admin" asp-controller="Products" class="btn btn-primary">Cập nhật</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row card-body">

            </div>
        </div>
    </div>
</div>

<script src="~/Admin/js/jquery.min.js"></script>
<script type="text/javascript">
    var timeout = null;
    $('input[type=text][name=textSearch]').keyup(function () {
        clearTimeout(timeout);
        // get data from text search
        var textSearch = $(this).val();

        timeout = setTimeout(function () {
            $.ajax({
                url: "/Admin/Stocks/Filter",
                type: "GET",
                contentType: "application/json; charset=utf-8",
                data: { textSearch },
                async: true,
                success: function (res) {
                    $("#result").html("").html(res);
                }
            });
        }, 1000);

    });
</script>
